*{
padding: 10;
margin: 0;
box-sizing: border-box;

}

html, body {
  background-color: #ccc;
  }
  
.app{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato,sans-serif;
}  
.contenedor-logo{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.logo{
height: 50px;
margin: 40px;
}

.contenedor-contador{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

